<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {{ with (templates.Defer (dict "key" "global")) }}
        {{ partial "css.html" . }}
    {{ end }}
</head>
<body class="font-roboto">
    <header class="w-full bg-white shadow-[0px_4px_18px_0_rgba(32,45,73,0.1)] p-8">
        <div class="container mx-auto">
            <h1 class="font-playfair text-2xl">{{ .Site.Title }}</h1>
        </div>
    </header>
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
    <footer>
        <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
    </footer>
</body>
</html>